# train a model

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

## Import Data

In [16]:
#read train 
deaths = pd.read_csv('deaths.csv')
cases = pd.read_csv('cases.csv')
deaths.head()

,Province/State,Country/Region,Territory,Population,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,...,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20
0,NaN,Afghanistan,Afghanistan,26023100.0,33.0000,65.0000,0,0,0,0,...,4,4,4,6,6,7,7,11,14,14
1,NaN,Albania,Albania,2895947.0,41.1533,20.1683,0,0,0,0,...,11,15,15,16,17,20,20,21,22,22
2,NaN,Algeria,Algeria,38700000.0,28.0339,1.6596,0,0,0,0,...,35,44,58,86,105,130,152,173,193,205
3,NaN,Andorra,Andorra,NaN,42.5063,1.5218,0,0,0,0,...,8,12,14,15,16,17,18,21,22,23
4,NaN,Angola,Angola,24383301.0,-11.2027,17.8739,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [17]:
deaths.drop(['Province/State'], axis=True)

,Country/Region,Territory,Population,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20
0,Afghanistan,Afghanistan,26023100.0,33.000000,65.000000,0,0,0,0,0,...,4,4,4,6,6,7,7,11,14,14
1,Albania,Albania,2895947.0,41.153300,20.168300,0,0,0,0,0,...,11,15,15,16,17,20,20,21,22,22
2,Algeria,Algeria,38700000.0,28.033900,1.659600,0,0,0,0,0,...,35,44,58,86,105,130,152,173,193,205
3,Andorra,Andorra,NaN,42.506300,1.521800,0,0,0,0,0,...,8,12,14,15,16,17,18,21,22,23
4,Angola,Angola,24383301.0,-11.202700,17.873900,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
5,Antigua and Barbuda,Antigua and Barbuda,86295.0,17.060800,-61.796400,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
6,Argentina,Argentina,42669500.0,-38.416100,-63.616700,0,0,0,0,0,...,23,27,28,36,39,43,44,48,56,63
7,Armenia,Armenia,3009800.0,40.069100,45.038200,0,0,0,0,0,...,3,3,4,7,7,7,7,8,8,9
8,Australia,Australia,23696900.0,-35.473500,149.012400,0,0,0,0,0,...,1,1,1,1,1,2,2,2,2,2
9,Australia,Australia,23696900.0,-33.868800,151.209300,0,0,0,0,0,...,8,8,9,10,12,12,16,18,21,21
10,Australia,Australia,23696900.0,-12.463400,130.845600,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Australia,Australia,23696900.0,-28.016700,153.400000,0,0,0,0,0,...,2,2,2,4,4,4,4,4,4,4
12,Australia,Australia,23696900.0,-34.928500,138.600700,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
13,Australia,Australia,23696900.0,-41.454500,145.970700,0,0,0,0,0,...,0,1,2,2,2,2,2,2,2,3
14,Australia,Australia,23696900.0,-37.813600,144.963100,0,0,0,0,0,...,4,4,4,5,7,8,8,10,11,12
15,Australia,Australia,23696900.0,-31.950500,115.860500,0,0,0,0,0,...,2,2,2,2,2,2,3,4,4,6
16,Austria,Austria,8527230.0,47.516200,14.550100,0,0,0,0,0,...,108,128,146,158,168,186,204,220,243,273
17,Azerbaijan,Azerbaijan,9552500.0,40.143100,47.576900,0,0,0,0,0,...,4,5,5,5,5,5,7,7,8,8
18,Bahamas,Bahamas (the),NaN,25.034300,-77.396300,0,0,0,0,0,...,0,0,1,1,1,4,4,5,6,7
19,Bahrain,Bahrain,1316500.0,26.027500,50.550000,0,0,0,0,0,...,4,4,4,4,4,4,4,4,5,5
20,Bangladesh,Bangladesh,157486000.0,23.685000,90.356300,0,0,0,0,0,...,5,5,6,6,6,8,9,12,17,20
21,Barbados,Barbados,285000.0,13.193900,-59.543200,0,0,0,0,0,...,0,0,0,0,0,0,1,2,3,3
22,Belarus,Belarus,9475100.0,53.709800,27.953400,0,0,0,0,0,...,0,1,2,4,4,5,8,13,13,13
23,Belgium,Belgium,11225469.0,50.833300,4.000000,0,0,0,0,0,...,513,705,828,1011,1143,1283,1447,1632,2035,2240
24,Benin,Benin,9988068.0,9.307700,2.315800,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
25,Bhutan,Bhutan,755030.0,27.514200,90.433600,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,Bolivia,Bolivia (Plurinational State of),NaN,-16.290200,-63.588700,0,0,0,0,0,...,4,6,7,8,9,10,10,11,14,15
27,Bosnia and Herzegovina,Bosnia and Herzegovina,3791622.0,43.915900,17.679100,0,0,0,0,0,...,10,13,13,16,17,21,23,29,33,34
28,Brazil,Brazil,203586000.0,-14.235000,-51.925300,0,0,0,0,0,...,159,201,240,324,359,445,486,564,686,819
29,Brunei,Brunei Darussalam,NaN,4.535300,114.727700,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,United Kingdom,United Kingdom of Great Britain and Northern I...,NaN,18.220600,-63.068600,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
245,United Kingdom,United Kingdom of Great Britain and Northern I...,NaN,18.420700,-64.640000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
246,United Kingdom,United Kingdom of Great Britain and Northern I...,NaN,21.694000,-71.797900,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
247,Botswana,Botswana,2024904.0,-22.328500,24.684900,0,0,0,0,0,...,0,1,1,1,1,1,1,1,1,1
248,Burundi,Burundi,9530434.0,-3.373100,29.918900,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
249,Sierra Leone,Sierra Leone,6205000.0,8.460555,-11.779889,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
250,Netherlands,Netherlands (the),NaN,12.178400,-68.238500,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
251,Malawi,Malawi,15805239.0,-13.254308,34.301525,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
252,United Kingdom,United Kingdom of Great Britain and Northern I...,NaN,-51.796300,-59.523600,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
253,France,France,66078000.0,46.885200,-56.315900,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
254,South Sudan,South Sudan,11384393.0,6.877000,31.307000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
255,Sao Tome and Principe,Sao Tome and Principe,NaN,0.186360,6.613081,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
256,Comoros (the),Comoros (the),NaN,0.000000,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
257,Kiribati,Kiribati,106461.0,0.000000,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
258,Lesotho,Lesotho,2098000.0,0.000000,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
259,Marshall Islands (the),Marshall Islands (the),NaN,0.000000,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
260,Micronesia (Federated States of),Micronesia (Federated States of),NaN,0.000000,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
261,Myanmar,Myanmar,NaN,0.000000,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
262,Nauru,Nauru,10084.0,0.000000,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
263,Palau,Palau,20901.0,0.000000,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
264,Republic of Korea (the),Republic of Korea (the),NaN,0.000000,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
265,Samoa,Samoa,187820.0,0.000000,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
266,Solomon Islands,Solomon Islands,581344.0,0.000000,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
267,Sudan (the),Sudan (the),NaN,0.000000,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
268,Tajikistan,Tajikistan,8161000.0,0.000000,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
269,Tonga,Tonga,103252.0,0.000000,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
270,Turkmenistan,Turkmenistan,5838064.0,0.000000,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
271,Tuvalu,Tuvalu,11323.0,0.000000,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
272,Vanuatu,Vanuatu,264652.0,0.000000,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
273,Yemen,Yemen,25956000.0,0.000000,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
## Add many variables
cases.shape

(274, 83)

In [20]:
deaths.shape

(274, 84)

#transpose data frame
deaths.T

## Add variables

### Temperature

In [28]:
import requests
import lxml.html as lh

In [29]:
def web_scraping_data(link):
    #Create a handle, page, to handle the contents of the website
    page = requests.get(link)
    doc = lh.fromstring(page.content)
    tr_elements = doc.xpath('//tr')

    tr_elements = doc.xpath('//tr')
    col=[]
    i=0
    for t in tr_elements[0]:
        i+=1
        name=t.text_content()
        #print ('%d:"%s"'%(i,name))
        col.append((name,[]))

    for j in range(1,len(tr_elements)):
        T=tr_elements[j]
        i=0

        for t in T.iterchildren():
            data=t.text_content() 
            if i>0:
                try:
                    data=int(data)
                except:
                    pass

            col[i][1].append(data)
            i+=1

    Dict={title:column for (title,column) in col}
    df=pd.DataFrame(Dict)
    
    return df

In [57]:
code_country = web_scraping_data("https://www.iban.com/country-codes")

KeyboardInterrupt:

In [59]:
code_country.head(10)

               Country Alpha-2 code Alpha-3 code  Numeric
0          Afghanistan           AF          AFG        4
1        Ã…land Islands           AX          ALA      248
2              Albania           AL          ALB        8
3              Algeria           DZ          DZA       12
4       American Samoa           AS          ASM       16
5              Andorra           AD          AND       20
6               Angola           AO          AGO       24
7             Anguilla           AI          AIA      660
8           Antarctica           AQ          ATA       10
9  Antigua and Barbuda           AG          ATG       28

In [54]:
code_country.shape

(249, 4)

Source 
- https://datacatalog.worldbank.org/dataset/climate-change-knowledge-portal-historical-data

In [73]:
temp = pd.read_csv('temp.csv')
temp.head(10)

,ISO_3DIGIT,Jan_Temp,Feb_temp,Mar_temp,Apr_Temp,May_temp,Jun_Temp,July_Temp,Aug_Temp,Sept_temp,Oct_temp,Nov_Temp,Dec_temp,Annual_temp
0,AFG,0.07,2.11,7.60,13.37,18.22,23.20,25.26,23.77,19.03,12.99,7.00,2.43,12.92
1,AGO,22.58,22.68,22.78,22.35,20.74,18.37,17.95,19.90,22.19,23.18,22.79,22.61,21.51
2,ALB,2.02,3.22,6.04,9.92,14.44,17.93,20.54,20.48,17.16,12.27,7.58,3.65,11.27
3,ARE,18.43,19.43,22.61,26.58,30.62,32.46,33.80,33.55,31.74,28.34,24.06,20.28,26.83
4,ARG,20.80,19.90,17.51,14.05,10.65,7.66,7.42,9.02,11.53,14.67,17.54,19.83,14.22
5,ARM,-8.66,-6.65,-0.57,6.62,11.43,15.58,19.82,19.28,14.97,7.92,1.62,-4.87,6.37
6,AUS,27.78,27.23,25.37,21.87,17.86,14.83,13.95,15.71,18.89,22.46,25.13,26.99,21.51
7,AUT,-3.52,-1.99,1.42,5.51,10.12,13.29,15.26,14.98,12.09,7.55,1.73,-2.21,6.19
8,AZE,-0.20,0.80,4.97,11.64,16.80,21.73,24.76,24.11,19.83,12.88,7.33,2.03,12.22
9,BDI,20.24,20.39,20.43,20.37,20.05,19.37,19.36,20.44,21.16,20.98,20.24,20.17,20.27

In [74]:
temp.shape

(178, 14)

In [75]:
temperature = pd.merge(left=temp, right=code_country, left_on='ISO_3DIGIT', right_on='Alpha-3 code')

In [76]:
temperature = temperature.drop(['Numeric','Alpha-2 code','Alpha-3 code'], axis=True)

In [77]:
temperature.shape

(177, 15)

In [78]:
temperature.head(4)

,ISO_3DIGIT,Jan_Temp,Feb_temp,Mar_temp,Apr_Temp,May_temp,Jun_Temp,July_Temp,Aug_Temp,Sept_temp,Oct_temp,Nov_Temp,Dec_temp,Annual_temp,Country
0,AFG,0.07,2.11,7.60,13.37,18.22,23.20,25.26,23.77,19.03,12.99,7.00,2.43,12.92,Afghanistan
1,AGO,22.58,22.68,22.78,22.35,20.74,18.37,17.95,19.90,22.19,23.18,22.79,22.61,21.51,Angola
2,ALB,2.02,3.22,6.04,9.92,14.44,17.93,20.54,20.48,17.16,12.27,7.58,3.65,11.27,Albania
3,ARE,18.43,19.43,22.61,26.58,30.62,32.46,33.80,33.55,31.74,28.34,24.06,20.28,26.83,United Arab Emirates (the)

In [63]:
len(deaths.Territory.unique())

209

In [84]:
deaths.shape

(274, 84)

In [82]:
merge = pd.merge(left=deaths, right=temperature, left_on='Territory', right_on='Country')

In [83]:
merge.shape

(229, 99)

In [85]:
274-229

45

I am loosing 45 countries.

In [26]:
sum(deaths.Territory == 'France')

3

In [27]:
deaths[deaths.Territory == 'France']

,Province/State,Country/Region,Territory,Population,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,...,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20
114,Martinique,France,France,66078000.0,14.6415,-61.0242,0,0,0,0,...,1,3,3,3,3,3,4,4,4,6
115,NaN,France,France,66078000.0,46.2276,2.2137,0,0,0,0,...,3024,3523,4032,5387,6507,7560,8078,8911,10328,10869
253,Saint Pierre and Miquelon,France,France,66078000.0,46.8852,-56.3159,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0